
<div class="container min-height-500">
    <div class="alert alert-danger fade in" ng-show = "vm.loginError != ''">
        <a href="" class="close" ng-click="vm.closeAlert()" aria-label="close">&times;</a>
        <strong translate="LOGIN.LOGIN ERROR"></strong> {{ 'REGISTRATION.NOT VALID EMAIL' | translate }}
    </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <br><br>
                    <img class="img-responsive" src="assets/images/logo.png" alt="">
                </div>
                <h3 class="cl-brown col-md-12 text-center" translate="HOME.WE ARE HERE FOR YOU"></h3>
            </div>
        </div>
        <br><br>
        <div class="col-md-4 panel panel-default">
            <form class="login_form" novalidate name="loginForm" ng-submit="vm.resetPassword(loginForm.$valid)">
                <div class="form-group">
                    <h3 class="cl-brown" translate="LOGIN.RESET PASSWORD"></h3>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$invalid || vm.registrationError != ''}">
                    <label class="control-label" translate="REGISTRATION.PASSWORD"></label>
                    <input required name="password" id="password" type="password" class="form-control input-lg" ng-model="vm.password" placeholder="******">
                    <div class="form_error" ng-messages="loginForm.password.$error"
                         ng-if="loginForm.password.$touched || loginForm.$submitted || vm.registrationError != ''"
                         role="alert">
                        <p ng-message="required" translate="REGISTRATION.EMPTY PASSWORD"></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="vm.loading" ng-class="{'disable-button' : vm.loading}">
                        <span translate="LOGIN.FORGOT PASSWORD SEND"></span>
                        <span ng-if="vm.loading" class="fa fa-spinner fa-spin cl-brown"></span>
                    </button>
                </div>
                <div class="text-center"><a href="" ui-sref="main.register" class="text-center" translate="REGISTRATION.REGISTER AS RESTAURANT"></a></div>
                <div class="text-center"><a href="" ui-sref="main.registerClient" class="text-center" translate="REGISTRATION.REGISTER AS CLIENT"></a></div>
                <div class="text-center"><a href="" ui-sref="main.login" class="text-center" translate="LOGIN.LOGIN"></a></div>
                <br>
            </form>
        </div>

</div>